body{
  background-image: url('../public/background.svg');
}

.pantalla-carga{
  margin: auto;
}

.logo {
  width: 90%;
  margin: 15px auto;
}

.center {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.texto-company{
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(44,122,123);
}

#imagen{
  cursor: url('/cursor.cur'), auto;
}

@font-face {
  font-family: myFirstFont;
  src: url('/DiloWorld.ttf');
}

@media (min-width: 992px) {
  .logo {
    width: 60%;
    margin: 15px auto;
  }
}
